/* html, 
body, */
* {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;
  margin-bottom: 100px;
  box-sizing: border-box;
  font-size: inherit;
  font-family: 'Roboto Mono', monospace;
}

/* navBar.js */

.sun {
   position: absolute;
    left: 50%;
}

.moon {
  position: absolute;
   left: 50%;
}



