/* html, 
body, */
* {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;
  margin-bottom: 100px;
  box-sizing: border-box;
  font-size: inherit;
}

/* navBar.js */

.logo{
  width: 200px;
  position: relative;
  left:-45%; 
  padding-top: 100px;
}

.menu {
  bottom: 10%;
}


/* Intro.js */

.intro {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  margin-top: 20px;
  line-height: 1.15;
}

.steps {
  color: #7c37ad;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  margin-top: 20px;
  line-height: 1.15;
  box-sizing: inherit;
  position: relative;
  left: -56px;
  top: 20px;
}


/* About.js */

.about-me {
  font-size: 32px;
  font-family: 'Merriweather',Georgia,Serif;
  margin-bottom: 50px;
  position: relative;
}

.about-container {
  margin: 0px;
  padding: 0px;
} 

.paragraph {
   line-height: 1.756;
    font-size: 18px;
    font-family: 'SF Pro Display','-apple-system','BlinkMacSystemFont','San Francisco','Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
}

#resume {
  color: #7c37ad;
  position: relative;
  /* left: -24%; */
}

.profile-pic {
  width: 400px;
  border-radius: 50%;
  left: 50%;
}

/* Projects card */