/* html, 
body, */
* {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;
  margin-bottom: 100px;
  box-sizing: border-box;
  font-size: inherit;
}

/* navBar.js */

.logo{
  width: 200px;
  position: relative;
  left:-50%; 
  padding-top: 100px;
}

.menu {
  bottom: 10%;
}

.sun {
  position: absolute;
  float: right;
}

/* Intro.js */

.intro {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  margin-top: 20px;
  line-height: 1.15;
}

.steps {
  color: #7c37ad;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  margin-top: 20px;
  line-height: 1.15;
}


/* About.js */

.aboutMe {
  word-break: keep-all;
    font-size: 32px;
    line-height: 1.333;
    font-weight: bold;
    color: var(--theme-ui-colors-primary,#000);
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    margin-bottom: 50px;
}

.about-container {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
}

.container {
  right: 20%;
}

#resume {
  color: #7c37ad;
}

.profile-pic {
  width: 400px;
  border-radius: 50%;
  left: 50%;
}

/* Projects card */